.actions-coach {
    text-align: center;
    margin-top: 50px;

    h3 {
        font-size: 25px;
    }

    .actions-coach-cta {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 8px;

        .button {
            color: #fff;
            border-radius: 8px;
            width: 200px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .add-seance {
            background: #673ab7;

        }

        .remove-seance {
            background: red;
        }
    }
}