<mat-sidenav-container class="sidenav-container">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <a mat-button aria-label="Résa'sport" [routerLink]="''">Résa'sport</a>
    <div fxLayoutGap="25">
      <a mat-button aria-label="Se connecter" [routerLink]="'user/login'" *ngIf="!isLoggedIn">Se connecter</a>
      <a mat-flat-button color="accent" aria-label="S'inscrire" [routerLink]="'user/register'" *ngIf="!isLoggedIn">S'inscrire</a>
      <a mat-flat-button color="accent" aria-label="Mon compte" [routerLink]="'user/account'" *ngIf="isLoggedIn">Mon compte</a>
      <a mat-button aria-label="Se déconnecter" style="font-size: 12px" (click)="logOut()" *ngIf="isLoggedIn">Se déconnecter</a>
    </div>
  </mat-toolbar>
</mat-sidenav-container>
